<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%-20thread] [%-30logger{30}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="dailyfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${work.dir}/logs/util-module.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${work.dir}/logs/util-module.%i.log</FileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%-20thread] [%-30logger{30}] %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="info" />
        <appender-ref ref="stdout" />
        <appender-ref ref="dailyfile" />
    </root>

    <logger name="com.zcswl" level="INFO" />
    <logger name="org.springframework" level="WARN" />
</configuration>
