# 基于多数据源的数据库配置信息
# 上面的配置信息在configuratin中进行Properties设置
two:
    datasource:
        pmcis:
          name: pmcis
          url: jdbc:mysql://127.0.0.1:3306/damp-asset
          username: root
          password: 123456
          type: com.alibaba.druid.pool.DruidDataSource
          driver-class-name: com.mysql.jdbc.Driver
          filters: stat
          maxActive: 20
          initialSize: 1
          maxWait: 60000
          minIdle: 1
          timeBetweenEvictionRunsMillis: 60000
          minEvictableIdleTimeMillis: 300000
          validationQuery: select 'x'
          testWhileIdle: true
          testOnBorrow: false
          testOnReturn: false
          poolPreparedStatements: true
          maxOpenPreparedStatements: 20
          verifyServerCertificate: false
        wolf:
          name: wolf
          url: jdbc:mysql://127.0.0.1:3306/damp-asset-1.2.1
          username: root
          password: 123456
          type: com.alibaba.druid.pool.DruidDataSource
          driver-class-name: com.mysql.jdbc.Driver
          filters: stat
          maxActive: 20
          initialSize: 1
          maxWait: 60000
          minIdle: 1
          timeBetweenEvictionRunsMillis: 60000
          minEvictableIdleTimeMillis: 300000
          validationQuery: select 'x'
          testWhileIdle: true
          testOnBorrow: false
          testOnReturn: false
          poolPreparedStatements: true
          maxOpenPreparedStatements: 20
          verifyServerCertificate: false




# 通过对应的jdbc进行数据源连接操作, spring 自动注入
# spring-boot-starter-jdbc
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true&remarks=true&useInformationSchema=true
    password: 123456
    username: root
    driver-class-name: com.mysql.jdbc.Driver

# mybatis-spring-boot-starter 使用
mybatis:
  mapper-locations: classpath:mapper/*.xml # 多个配置使用英文逗号进行隔开操作
  check-config-location: true
  type-aliases-package: com.zcs.mybatis.entity #类型别名映射操作
server:
  port: 8082


logging:
  level:
    com.zcswl: debug
    org.springframework: info
    com.zcswl.mybatis.mapper: debug